*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none}
a:focus,a:active{outline: none}

nav,footer,header,aside{display: block}

html,body{
   height: 100%;
}
body{
   font: 22px/1.5 'Sora', sans-serif;
   background-color: #000;
   min-width: 320px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
   vertical-align: top;
   max-width: 100%;
   height: auto;
}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

#wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   background: url(../img/main/bg-main.png) left 47% bottom 50px no-repeat;
}
//--------------------------------->Header
#header{
   display: flex;
   justify-content: space-between;
   padding: 32px 30px 32px 42px;
}
.header {
   &-left-items {
      display: flex;
      gap: 9px;
      padding: 23px 0 0;
   }
   &-right-items {
      padding: 21px 0 0;
   }
}
.logo {
   width: 252px;
}

/* media queries */ //--------------------------------->Header
@media(max-width: 1199px){ 
   #wrapper{
      background-size: 48% auto;
   }
   .logo {
      width: 172px;
   }
} 
@media(max-width: 991px){ 
    #header{
      padding: 15px;
   }
} 
@media(max-width: 767px){ 
   #header {
      align-items: center;
      gap: 20px;
  }
  .header-right-items {
     padding: 0;
  }
  .header-left-items{
     width: 60px;
     gap: 5px;
  }
}
//--------------------------------->Main
#main{
   flex: 1 1 auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: 0 90px 130px 80px;
}
.main{
   &-left{
      flex: 1;
      padding: 0 0 27px;
      &-body{
         width: 518px;
         height: 449px;
         padding: 45px 108px 0 42px;
         position: relative;
         &-img-top{
            position: absolute;
            top: 0;
            right: 0;
            height: 134px;
            width: 134px;
            border: 6px solid #E93E7D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
               max-width: 100px;
            }
         }
         &-img-bottom{
            position: absolute;
            bottom: 0;
            right: 35%;
            height: 132px;
            width: 132px;
            border: 6px solid #E93E7D;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
               max-width: 102px;
            }
         }

      }
     
      h1{
         margin: 0 40px 31px 0;
         font-family: 'Roboto', sans-serif;
         font-size: 48px;
         line-height: 1.2;
         background: linear-gradient(265.95deg, #FFFFFF -15.55%, #E93E7D 123.26%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;

      }
      h2{
         font-family: 'Roboto', sans-serif;
         font-size: 22px;
         line-height: 1.2;
         color: #FFFFFF;
         position: relative;
         &::before{
            content: "";
            width: 34px;
            height: 34px;
            position: absolute;
            top: 3px;
            left: -40px;
            background: url(../img/main/img-1.png) 0 0 no-repeat, ;
         }
         &::after{
            content: "";
            width: 34px;
            height: 34px;
            position: absolute;
            top: 48px;
            left: -40px;
            background: url(../img/main/img-2.png) 0 0 no-repeat, ;
         }
      }

   }
   &-right{
      flex: 1;
      position: relative;
      &-body{
         width: 330px;
         height: 330px;
         border: 8px solid #E93E7D;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         padding: 0 0 51px 0;
         position: relative;
         margin: 130px 0 0 auto;
         &-img-top{
            position: absolute;
            top: -143px;
            right: 5px;
         }
         &-img-bottom{
            display: flex;
            position: relative;
            p{
               font-family: 'Roboto', sans-serif;
               font-weight: 400;
               font-size: 18px;
               line-height: 1.2;
               color: #FFFFFF;
               position: absolute;
               top: 50%;
               left: 3px;
               transform: translateY(-50%);
               &::after{
                  content: "";
                  top: -12px;
                  right: -51px;
                  position: absolute;
                  width: 40px;
                  height: 46px;
                  background: url(../img/main/img-09.png) 0 0 no-repeat;
               }
            }
         }
         &-triangle{
            position: absolute;
            bottom: -51px;
            right: 100%;
            margin: 0 4px 0 0;
            background: url(../img/main/img-010.png) 0 0 no-repeat;
            width: 164px;
            height: 141px;
            padding: 46px 0 0 44px;
            }
         }
      }
}
/* media queries */ //--------------------------------->Main
@media(max-width: 1439px){
   #main{
      padding: 0 30px 130px 30px;
   }
}
@media(max-width: 1199px){ 
   #main {
      padding: 0 15px 80px 15px;
   }
} 
@media(max-width: 991px){ 
   #wrapper{
      background: url(../img/main/bg-main.png) left 0% bottom 50px no-repeat;
      background-size: 48% auto;
   }
   #main{
      flex-direction: column;
      align-items: center;
      padding: 0 15px 60px 15px;
   }
   .main-right{
      width: 100%;
   }
   .main-left h1{
      font-size: 30px;
   }

   .main-left-body {
      padding: 0 42px 0 42px;
      text-align: center;
      width: 700px;
      height: 285px;
      &-img-bottom{
         right: 62%;
      }
     &-img-top{
      right: 13px;
      top: 152px;
      }
  }
  .main-right-body-triangle{
      right: 477px;
   } 
} 
@media(max-width: 767px){ 
   #wrapper{
      background: none;
   }
   #main{
      padding: 0 15px 20px 15px;
   }
   .main-left {
      margin-bottom: 20px;
      h2{
         margin-bottom: 10px; 
         font-size: 14px;
      }
      &-body {
         padding: 0 25px 0 42px;
         text-align: center;
         width: 320px;
         height: auto;
         h1 {
            margin: 0px 0 20px 0;
         }
         &-img-top{
            position: static;
            margin: 0 auto 15px;
         }
         &-img-bottom {
            position: static;
            margin: 0 auto;
        }
     }
   }
   .main-right{
      width: auto;
      margin: 0 auto;
      &-body {
         width: 290px;
         height: 270px;
      }
      &-body-triangle{
         display: none;
      }
   }
}
//--------------------------------->Footer
#footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 43px 15px 46px 42px;
   background-color: rgba(0, 0, 0, 0.5);
   position: relative;
   overflow: hidden;
   
   &::before{
         content: "";
         top: -45px;
         left: -48px;
         z-index: -1;
         position: absolute;
         width: 259px;
         height: 271px;
         background: url(../img/footer/bg-left.png) 0 0 no-repeat;

   }
   &::after{
      content: "";
      top: -41px;
      right: -17px;
      z-index: -1;
      position: absolute;
      width: 185px;
      height: 161px;
      background: url(../img/footer/bg-right.png) 0 0 no-repeat;

}
   a{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.8);
      &:hover{
         text-decoration: underline;
         opacity: 0.7;
      }
   }
}
.footer{
   &-menu {
      ul{
         display: flex;
         gap: 53px;
      }
   }
   &-center {
      a{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.2;
      color: #FFFFFF;
      position: relative;
      &::after{
         content: "";
         top: 0px;
         right: -33px;
         position: absolute;
         width: 20px;
         height: 24px;
         background: url(../img/footer/img-01.png) 0 0 no-repeat;
         }
      }
   }
   &-right-menu{
      ul{
         display: flex;
         gap: 32px;
         li:last-child a{
            color: rgba(255, 184, 0, 0.8) !important;
            &::before{
               content: "";
               display: inline-block;
               width: 20px;
               height: 24px;
               margin: 0 6px 0 0;
               vertical-align: middle;
               background: url(../img/footer/img-02.png) 0 0 no-repeat;
            }
         }
      }
      
   }

}
/* media queries */ //--------------------------------->Footer

@media(max-width: 1199px){ 
   #footer{
      padding: 20px 15px;
   }
} 
@media(max-width: 991px){ 
   .footer-menu ul {
      gap: 30px;
  }
  .footer-right-menu ul {
   gap: 20px;
}
}

@media(max-width: 767px){
   #footer{
      flex-wrap: wrap;
      justify-content: space-between;
      a{
         font-size: 14px;
      }
   }
   .footer-center{
      width: 100%;
      order: -1;
      text-align: center;
   }
}
@media(max-width: 520px){
   .footer-menu ul {
      margin-right: 50px;
   }
}
@media(max-width: 502px){
   #footer{
      justify-content: center;
      flex-direction: column;
   }
   .footer-menu ul {
      margin-right: 0;
   }
}