* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font: 22px/1.5 'Sora', sans-serif;
  background-color: #000;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 1302px;
  margin: 0 auto;
  padding: 0 15px;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background: url(../img/main/bg-main.png) 50% 100% no-repeat;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 30px 52px 42px;
}

.header-left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  padding: 23px 0 0;
}

.header-right-items {
  padding: 21px 0 0;
}

.logo {
  width: 252px;
  height: 121px;
}

/* media queries */
@media (max-width: 1302px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 479px;
  }
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

@media (max-width: 478px) {
  .container {
    width: 320px;
  }
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

#main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-left-body {
  width: 518px;
  height: 449px;
  padding: 0 108px 0 42px;
  position: relative;
}

.main-left-body-img-top {
  position: absolute;
  top: 48px;
  right: 0;
  height: 134px;
  width: 134px;
  border: 6px solid #E93E7D;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-left-body-img-top img {
  max-width: 100px;
}

.main-left-body-img-bottom {
  position: absolute;
  bottom: 0;
  right: 35%;
  height: 132px;
  width: 132px;
  border: 6px solid #E93E7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-left-body-img-bottom img {
  max-width: 102px;
}

.main-left h1 {
  padding-top: 94px;
  margin-bottom: 31px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  background: linear-gradient(265.95deg, #FFFFFF -15.55%, #E93E7D 123.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-left h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  color: #FFFFFF;
  position: relative;
}

.main-left h2::before {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: 3px;
  left: -40px;
  background: url(../img/main/img-1.png) 0 0 no-repeat;
}

.main-left h2::after {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: 48px;
  left: -40px;
  background: url(../img/main/img-2.png) 0 0 no-repeat;
}

.main-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.main-right-body {
  width: 330px;
  height: 330px;
  border: 8px solid #E93E7D;
  top: 210px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 51px 0;
  position: relative;
  margin: 0 0 0 auto;
}

.main-right-body-img-top {
  position: absolute;
  top: -133px;
  right: 5px;
}

.main-right-body-img-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-right-body-img-bottom p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-right-body-img-bottom p::after {
  content: "";
  top: -12px;
  right: -51px;
  position: absolute;
  width: 40px;
  height: 46px;
  background: url(../img/main/img-09.png) 0 0 no-repeat;
}

.main-right-img {
  position: absolute;
  bottom: 253px;
  left: 139px;
  background: url(../img/main/img-010.png) 0 0 no-repeat;
  width: 164px;
  height: 141px;
  padding: 46px 0 0 44px;
}

/* media queries */
@media (max-width: 1302px) {
  .main-right-img {
    left: 107px;
  }
}

@media (max-width: 1199px) {
  .main-right-img {
    bottom: 182px;
  }
}

@media (max-width: 991px) {
  #main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-left-body {
    padding: 0 42px 0 42px;
    text-align: center;
  }
  .main-right-img {
    bottom: 330px;
  }
  .main-left-body-img-top {
    right: -23px;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 0 46px 42px;
}

.footer-menu a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
}

.footer-center a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #FFFFFF;
}

/* media queries */
/*# sourceMappingURL=style.css.map */